In [1]:
#  Q Replace True and False with 1 and 0

In [19]:
import pandas as pd

# Create a DataFrame with a column containing True and False values
data = {'T/F': [True, False, True, False, True]}

df = pd.DataFrame(data)

In [17]:
df

     T/F
0   True
1  False
2   True
3  False
4   True

In [18]:
df['New_Column'] = df['T/F'].apply(lambda x: 1 if x else 0)

# Display the DataFrame
df

     T/F  New_Column
0   True           1
1  False           0
2   True           1
3  False           0
4   True           1

In [20]:
# 2nd approch

df['new']= df['T/F'].astype(int)

In [21]:
df

     T/F  new
0   True    1
1  False    0
2   True    1
3  False    0
4   True    1

In [22]:
# Qretrieve dataframe col names

In [33]:
df.columns

Index(['T/F', 'new'], dtype='object')

In [28]:
for col in df.columns:
    print(col)

T/F
new

In [30]:
#2nd approch
list(df.columns.values)

['T/F', 'new']

In [ ]:
# Q Find the row  no. for which a particualar col has max value

In [35]:
import pandas as pd

# Create a dictionary with student names and their scores
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Score': [85, 92, 78, 65, 88]
}

# Create a DataFrame from the dictionary
student_df = pd.DataFrame(data)

# Display the DataFrame
print(student_df)

      Name  Score
0    Alice     85
1      Bob     92
2  Charlie     78
3    David     65
4      Eva     88

In [43]:
student_df['Score'].idxmax()

1

In [ ]:
# Q Find the row  for which a particualar col has max value

In [44]:
student_df.loc[student_df['Score'].idxmax()]

Name     Bob
Score     92
Name: 1, dtype: object

In [ ]:
# Q select col of particular datatype

In [45]:
import pandas as pd

# Create a list of scores
scores = [90, 80, 70, 60]

# Create a list of names
names = ['John', 'Jane', 'Peter', 'Mary']

# Create a boolean column
is_passed = [True, False, True, False]

# Create a DataFrame
df = pd.DataFrame({'Score': scores, 'Name': names, 'Passed': is_passed})

In [46]:
df

   Score   Name  Passed
0     90   John    True
1     80   Jane   False
2     70  Peter    True
3     60   Mary   False

In [48]:
df.select_dtypes(include = ['bool'])

   Passed
0    True
1   False
2    True
3   False

In [ ]:
Q`10 tommorow