In [1]:
# Write a Pandas program to display the default index and set a column as an Index in a given dataframe.

In [24]:
import pandas as pd
df = pd.DataFrame({"id":[1,2,3],"name":["Arun", "Sam","Karan"]})

In [25]:
list(df.index)

[0, 1, 2]

In [26]:
df.head()

   id   name
0   1   Arun
1   2    Sam
2   3  Karan

In [27]:
df= df.set_index('id')

In [28]:
list(df.index)

[1, 2, 3]

In [29]:
df.head()

     name
id
1    Arun
2     Sam
3   Karan

In [30]:
# reset index

In [31]:
df.reset_index(inplace=True)

In [32]:
df

   id   name
0   1   Arun
1   2    Sam
2   3  Karan

In [33]:
# date and time as index

In [34]:
import pandas as pd
print("Create a dataframe, indexing by date and time:")

dt_range = pd.date_range(start ='2020-05-12 07:10:10', freq ='S', periods = 10) 
df_dt = pd.DataFrame({"Sale_amt":[100, 110, 117, 150, 112, 99, 129, 135, 140, 150]},
                            index = dt_range)
print(df_dt)

Create a dataframe, indexing by date and time:
                     Sale_amt
2020-05-12 07:10:10       100
2020-05-12 07:10:11       110
2020-05-12 07:10:12       117
2020-05-12 07:10:13       150
2020-05-12 07:10:14       112
2020-05-12 07:10:15        99
2020-05-12 07:10:16       129
2020-05-12 07:10:17       135
2020-05-12 07:10:18       140
2020-05-12 07:10:19       150